PythonSpease/Bayer/VR/scripts/config/step_function_qa_old.txt
{
  "Comment": "A description of my state machine",
  "StartAt": "call analytical_martph_customer360.sp_customer_360_basic_user_info",
  "States": {
    "call analytical_martph_customer360.sp_customer_360_basic_user_info": {
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
        "Arguments": {
          "--JOB_NAME": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
          "--RS_DB": "cn_cdp_qa",
          "--RETRY": "120",
          "--DELAY": "10",
          "--SP_NAME": "analytical_martph_customer360.sp_customer_360_basic_user_info"
        }
      },
      "Next": "call analytical_martph_customer360.sp_customer_360_basic_kpi_detail",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 1,
          "IntervalSeconds": 180,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Send Task Faild Alert Email"
        }
      ],
      "ResultPath": "$.output"
    },
    "Send Task Faild Alert Email": {
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ph-cdp-state-machine-email-operator-glue-job-cn-north-1-qa",
        "Arguments": {
          "--SUBJECT": "Notification Email Send From Step Function From_qa",
          "--BODY": "Task customer_360_job Failed!",
          "--TO": "zhichao.shi.ext@bayer.com,shaokang.miao.ext@bayer.com,minjing.li.ext@bayer.com,xinyu.lin.ext@bayer.com,shun.cai.ext@bayer.com,kaiyang.liu1.ext@bayer.com,nicole.chen.ext@bayer.com"
        }
      },
      "Next": "Fail",
      "ResultPath": "$.output",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 1,
          "MaxAttempts": 2,
          "IntervalSeconds": 60
        }
      ]
    },
    "call analytical_martph_customer360.sp_customer_360_basic_kpi_detail": {
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
        "Arguments": {
          "--JOB_NAME": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
          "--RS_DB": "cn_cdp_qa",
          "--RETRY": "120",
          "--DELAY": "10",
          "--SP_NAME": "analytical_martph_customer360.sp_customer_360_basic_kpi_detail"
        }
      },
      "Next": "call analytical_martph_customer360.sp_customer_360_main_tables",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 1,
          "IntervalSeconds": 180,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Send Task Faild Alert Email"
        }
      ],
      "ResultPath": "$.output"
    },
    "call analytical_martph_customer360.sp_customer_360_main_tables": {
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
        "Arguments": {
          "--JOB_NAME": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
          "--RS_DB": "cn_cdp_qa",
          "--RETRY": "120",
          "--DELAY": "10",
          "--SP_NAME": "analytical_martph_customer360.sp_customer_360_main_tables"
        }
      },
      "Next": "call analytical_martph_customer360.sp_customer_360_other_tables",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 1,
          "IntervalSeconds": 180,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Send Task Faild Alert Email"
        }
      ],
      "ResultPath": "$.output"
    },
    "call analytical_martph_customer360.sp_customer_360_other_tables": {
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
        "Arguments": {
          "--JOB_NAME": "ph-cdp-stored-procedure-operator-glue-job-cn-north-1-qa",
          "--RS_DB": "cn_cdp_qa",
          "--RETRY": "120",
          "--DELAY": "10",
          "--SP_NAME": "analytical_martph_customer360.sp_customer_360_other_tables"
        }
      },
      "Next": "Parallel",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 1,
          "IntervalSeconds": 180,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Send Task Faild Alert Email"
        }
      ],
      "ResultPath": "$.output"
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "Send Task Success Email",
      "Branches": [
        {
          "StartAt": "Parallel (1)",
          "States": {
            "Parallel (1)": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "customer_360_my_customer",
                  "States": {
                    "customer_360_my_customer": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_my_customer;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_my_customer",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_hco",
                  "States": {
                    "customer_360_hco": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_hco;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_hco",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_opportunity_point",
                  "States": {
                    "customer_360_opportunity_point": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_opportunity_point;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_opportunity_point",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Parallel (3)",
              "ResultPath": "$.output"
            },
            "Parallel (3)": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "customer_360_cda_ct_mr_occupancy",
                  "States": {
                    "customer_360_cda_ct_mr_occupancy": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_cda_ct_mr_occupancy;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_cda_ct_mr_occupancy",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_hospital_equipment",
                  "States": {
                    "customer_360_hospital_equipment": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_hospital_equipment;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_hospital_equipment",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_hcp",
                  "States": {
                    "customer_360_hcp": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_hcp;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_hcp",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Parallel (5)",
              "ResultPath": "$.output"
            },
            "Parallel (5)": {
              "Type": "Parallel",
              "End": true,
              "Branches": [
                {
                  "StartAt": "customer_360_last_five_behavior",
                  "States": {
                    "customer_360_last_five_behavior": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_last_five_behavior;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_last_five_behavior",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_last_30days_call_log",
                  "States": {
                    "customer_360_last_30days_call_log": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_last_30days_call_log;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_last_30days_call_log",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_my_subordinate",
                  "States": {
                    "customer_360_my_subordinate": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_my_subordinate;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_my_subordinate",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "ResultPath": "$.output"
            }
          }
        },
        {
          "StartAt": "Parallel (2)",
          "States": {
            "Parallel (2)": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "customer_360_internal_sales_mtd",
                  "States": {
                    "customer_360_internal_sales_mtd": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_internal_sales_mtd;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_internal_sales_mtd",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_internal_sales_qtd",
                  "States": {
                    "customer_360_internal_sales_qtd": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_internal_sales_qtd;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_internal_sales_qtd",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_internal_sales_ytd",
                  "States": {
                    "customer_360_internal_sales_ytd": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_internal_sales_ytd;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_internal_sales_ytd",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "End": true,
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ]
                    }
                  }
                }
              ],
              "Next": "Parallel (4)",
              "ResultPath": "$.output"
            },
            "Parallel (4)": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "customer_360_last_three_call",
                  "States": {
                    "customer_360_last_three_call": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_last_three_call;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_last_three_call",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_last_three_wechat_visits",
                  "States": {
                    "customer_360_last_three_wechat_visits": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_last_three_wechat_visits;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_last_three_wechat_visits",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_last_three_meeting",
                  "States": {
                    "customer_360_last_three_meeting": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_last_three_meeting;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_last_three_meeting",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "End": true,
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ]
                    }
                  }
                }
              ],
              "Next": "Parallel (6)",
              "ResultPath": "$.output"
            },
            "Parallel (6)": {
              "Type": "Parallel",
              "End": true,
              "Branches": [
                {
                  "StartAt": "customer_360_badge",
                  "States": {
                    "customer_360_badge": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_badge;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_badge",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_certificate",
                  "States": {
                    "customer_360_certificate": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_certificate;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_certificate",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "customer_360_imaging_academy_last_five_reading",
                  "States": {
                    "customer_360_imaging_academy_last_five_reading": {
                      "Type": "Task",
                      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "ph-cdp-redshift-to-rdms-glue-job-cn-north-1-qa",
                        "Arguments": {
                          "--RS_DB": "cn_cdp_qa",
                          "--SQL": "select * from analytical_martph_customer360.v_customer_360_imaging_academy_last_five_reading;",
                          "--TARGET_DB": "C360Q",
                          "--TARGET_TABLE": "customer_360_imaging_academy_last_five_reading",
                          "--TARGE_SYSTEM": "mysql",
                          "--CONN_ID": "phcdp/mysql/c360_q",
                          "--WRITE_MODE": "overwrite"
                        }
                      },
                      "End": true,
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "BackoffRate": 1,
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2
                        }
                      ]
                    }
                  }
                }
              ],
              "ResultPath": "$.output"
            }
          }
        }
      ],
      "ResultPath": "$.output",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Send Task Faild Alert Email"
        }
      ]
    },
    "Send Task Success Email": {
      "Type": "Task",
      "Resource": "arn:aws-cn:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ph-cdp-state-machine-email-operator-glue-job-cn-north-1-qa",
        "Arguments": {
          "--SUBJECT": "Notification Email Send From Step Function From_qa",
          "--BODY": "Task customer_360_job Success!",
          "--TO": "zhichao.shi.ext@bayer.com,shaokang.miao.ext@bayer.com,minjing.li.ext@bayer.com,xinyu.lin.ext@bayer.com,shun.cai.ext@bayer.com,kaiyang.liu1.ext@bayer.com,nicole.chen.ext@bayer.com"
        }
      },
      "Next": "Success",
      "ResultPath": "$.output",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 1,
          "MaxAttempts": 2,
          "IntervalSeconds": 60
        }
      ]
    },
    "Fail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}